
body {
  background-color: rgb(234, 242, 243);
}

header {
  background-color: rgb(4, 24, 43);
  color: blanchedalmond;
  padding-left: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 6.19vh;
  left: 0;
  background-color: rgb(175, 231, 238);
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 5px;
}

.side-project {
  display: flex;
  flex-direction: row;
}
.sidenav button {
  background-color: rgb(175, 231, 238);
  display: block;
  color: rgb(34, 46, 48);
  border: none;
}


.show {
  background-color: rgb(0, 119, 128) !important;
  width: 99% !important;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 35vw;
}

.form,
.task-form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-left: 45vw;
  margin-top: 10vh;
  width: 30%;
}

.form > h6,
.task-form > h6 {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.task-form {
  display: none;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit,
.cancel {
  width: 49%;
  background-color: rgb(0, 119, 128);
  color: wheat;
}

.cancel {
  background-color: rgb(255, 115, 0);
}

.project1 {
  background-color: rgb(174, 245, 250) !important;
  margin-bottom: 1vh;
  margin-top: 1vh;
  padding: 2vh;
}

.AddTask,
.del {
  margin-right: 1vw;
}

.modal {
  display: none;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 44px !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
}

.modal-content {
  background-color: rgb(4, 24, 43);
  margin: auto;
  position: relative !important;
  padding: 10px !important;
  outline: 0 !important;
  width: 66% !important;
  color: white !important;
  height: 1024px !important;
}

.contain {
  margin-top: 3vh;
  margin-left: 3vw;
  text-align: center;
  padding: 10px;
}

.cross {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: black;
  background-color: inherit;
  text-align: center;
  cursor: pointer !important;
  white-space: nowrap;
  font-size: 4vh !important;
  font-weight: bolder !important;
}

.display-top-right {
  position: absolute;
  right: 0;
  top: 0;
}
